<h2>Sign-in Page</h2>
<h3>Please Sign-in</h3>
<p><%=flash[:notice]%></p>
<div>
<form action= "/users/signin_session">
  E-mail : <input type="email" name = "email"><br>
  Password : <input type="password" name = "password"><br>
  <input type="submit" value = "Sign-in">
</form>
</div>

<div>
<h4>If you don't sign-up our service</h4>
<form action="/users/signup">
  <input type="submit" value="Sign-up">
</form>
</div>
