<h1>Users#signin</h1>
<form action="/users/signin_session">
  E-mail : <input type="email" name = "email"><br>
  Password : <input type="password" name = "password"><br>
  <input type="submit" value = "SUBMIT">
</form>
