<h2><i><center><font face = "Times New Roman">Main Page of CRUD Practice</font></center></i></h2>
<!--Carousel-->
<%= render '/posts/carousel' %>
<!--Button -->
<%= render '/posts/button' %>
<!--Table -->
<%= render '/posts/table' %>

<!--Buttons -->
<button type="button" class="btn btn-info btn-lg"><%=link_to 'New Post', '/posts/new', :method => :post%></button>

<a href="/users/signout"><button type="button" class="btn btn-warning btn-lg">Sign out</button></a>
